In [1]:
# OPEN CSV file
import pandas as pd 
df = pd.read_csv('/home/yupaporn/code/EffNet-Person-Classify/data_label_by_tan_10082023_splited_imgpath.csv')
print(df.shape)
df.head()

(283191, 12)

/home/yupaporn/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,path_img,img_no,branch,Path_folder_web,camera_angle,gender,category,work_by,status,clip_from,split
0,3,/media/hdd/tan/code/Show-Images/static/BearHou...,1,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train
1,50,/media/hdd/tan/code/Show-Images/static/BearHou...,2,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train
2,58,/media/hdd/tan/code/Show-Images/static/BearHou...,3,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train
3,2,/media/hdd/tan/code/Show-Images/static/BearHou...,4,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train
4,43,/media/hdd/tan/code/Show-Images/static/BearHou...,5,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train

In [2]:
df.groupby(['split','gender'])['Path_folder_web'].count().reset_index()

   split      gender  Path_folder_web
0   test         Men            26007
1   test       Women            22909
2   test  motorcycle             7604
3  train         Men           104090
4  train       Women            91742
5  train  motorcycle            30839

In [2]:
# import glob
# import pandas as pd
# import numpy as np
# import json
# import os

# os.chdir('/media/SSD/')

# Path_folder = df['Path_folder_web'].tolist()
# Path_folder[0]

# path = '/media/SSD/'
# lost = []
# for j in range(len(Path_folder)):
#     try:
#         os.chdir(path+Path_folder[j])
#         file = glob.glob('*')
#         print(len(file))
#     except:
#         lost.append(path+Path_folder[j])
#         print(path+Path_folder[j])

In [3]:
path_img = list(df['path_img'])
path_img_ = []
for i in range(len(path_img)):
    a = path_img[i].split('/media/hdd/tan/code/Show-Images/static/')
    path_i = '/media/SSD/'+ a[1]
    path_img_.append(path_i)

In [4]:
df['path_img_28'] = path_img_

In [5]:
df.head()

,Unnamed: 0,path_img,img_no,branch,Path_folder_web,camera_angle,gender,category,work_by,status,clip_from,split,path_img_28
0,3,/media/hdd/tan/code/Show-Images/static/BearHou...,1,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train,/media/SSD/BearHouse-Person/Fashion_ch3_202303...
1,50,/media/hdd/tan/code/Show-Images/static/BearHou...,2,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train,/media/SSD/BearHouse-Person/Fashion_ch3_202303...
2,58,/media/hdd/tan/code/Show-Images/static/BearHou...,3,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train,/media/SSD/BearHouse-Person/Fashion_ch3_202303...
3,2,/media/hdd/tan/code/Show-Images/static/BearHou...,4,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train,/media/SSD/BearHouse-Person/Fashion_ch3_202303...
4,43,/media/hdd/tan/code/Show-Images/static/BearHou...,5,Fashion,BearHouse-Person/Fashion_ch3_20230310145957_20...,ch3,Men,Student,Nat,NaN,Bear-House,train,/media/SSD/BearHouse-Person/Fashion_ch3_202303...

In [6]:
df.to_csv('/home/yupaporn/code/EffNet-Person-Classify/data_label_by_tan_10082023_splited_imgpath28.csv')

# split validation

In [12]:
case = list(set(df[df['split'] == 'train']['Path_folder_web']))
len(case)

3215

In [17]:
from random import sample
res_samle = sample(case,int(len(case)*0.8))
len(set(res_samle))

2572

In [23]:
train = df[df['Path_folder_web'].isin(res_samle)]

df_train = df[df['split'] == 'train']

train = df_train[df_train['Path_folder_web'].isin(res_samle)]
train['split'] = 'train'

val = df_train[~df_train['Path_folder_web'].isin(res_samle)]
val['split'] = 'val'

print(train.shape)
print(val.shape)

(181741, 13)
(44930, 13)

/home/yupaporn/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/yupaporn/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [24]:
train.to_csv('/home/yupaporn/code/EffNet-Person-Classify/data_label_by_tan_10082023_splited_imgpath28_train.csv')

In [25]:
val.to_csv('/home/yupaporn/code/EffNet-Person-Classify/data_label_by_tan_10082023_splited_imgpath28_val.csv')

In [7]:
# df.to_csv('/home/yupaporn/code/EffNet-Person-Classify/data_label_by_tan_10082023_splited_imgpath28.csv')